<template id="toast">
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="{{ autohide }}">
		{{# if title }}
		<div class="toast-header">
			<strong class="mr-auto">{{ title }}</strong>
			{{# if small }}
			<small>{{ small }}</small>
			{{/ if }}
			{{# if close }}
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"></button>
			{{/ if }}
		</div>
		{{/ if }}
		<div class="toast-body">
			{{# if html }}
				{{{ html }}}
			{{ else }}
				{{ body }}
			{{/ if }}
		</div>
	</div>
</template>

<template id="modal">
	<div class="modal fade" role="dialog" aria-labelledby="modal" aria-hidden="true">
		<div class="modal-dialog{{ or ( and large ' modal-lg' ) '' }}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal">{{ title }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="{{ close }}"></button>
				</div>
				<div class="modal-body">
					{{# if html }}
						{{{ html }}}
					{{ else }}
						{{ body }}
					{{/ if }}
				</div>
				<div class="modal-footer">
					{{# if footer.input }}
						<div class="form-group modal-add-data">
							<input type="text" class="form-control" value="{{ footer.input.value }}" placeholder="{{ footer.input.placeholder }}" />
							<i class="fas fa-{{ footer.input.icon }}"></i>
						</div>
					{{/ if }}

					{{# if footer.close }}<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{ close }}</button>{{/ if }}
					{{# if ( eq ( type footer.confirm ) 'function' ) }}<button type="button" class="btn btn-sm btn-success confirm">{{ confirm }}</button>{{/ if }}
				</div>
			</div>
		</div>
	</div>
</template>

<template id="infos">
	<div class="infos-icon">
		<img src="./images/default.png" />
	</div>
	<div class="toast-subbody">
		<div class="infos-name">{{ name }}</div>
		<div class="infos-status">{{ status }}</div>
		<div class="infos-game">{{ game }}</div>
	</div>
</template>

<template id="message">
	<li timestamp="{{ data.timestamp }}" class="{{ data.class }}">
		<span class="time">{{ data.time }}</span>
		{{# if ( and data.message ( and data.flags data.extra ) ) }}
		<img src="{{ data.channel.image }}" class="logo" title="{{ data.channel.name }}" />
			{{# each data.accept }}
				{{# if ( in this ( keys ../data.flags ) ) }}
					{{# if ( array-get this ../data.flags ) }}
		<img src="./images/icons/{{ this }}.png" class="flag" title="{{ capitalize this }}" />
					{{/ if }}
				{{/ if }}
			{{/ each }}
			<a href="https://www.twitch.tv/{{ lower data.user }}" target="_blank" class="username" style="color: {{ data.color }};">{{ data.user }}</a>
			:
		{{/ if }}
		<span class="message{{ or ( and data.special ' special' ) '' }}">{{{ data.message }}}</span>
	</li>
</template>

<template id="channels">
	<h6>{{ token.title }}</h6>
	<div class="form-group">
		<input type="text" value="{{ token.value }}" placeholder="{{ token.placeholder }}" class="form-control" />
		<small class="form-text text-muted">{{ token.small }}</small>
	</div>
	<h6>{{ tuto.title }}</h6>
	<div style="position: relative;">
		<div class="page-container step1">
			<div style="margin-bottom: 5px;">
				&nbsp;&nbsp;1 - {{ array-get 1 tuto.step1.values }}: <a href="https://dev.twitch.tv/console/apps/create" target="_blank">https://dev.twitch.tv/console/apps/create</a>
				<br />&nbsp;&nbsp;2 - {{ array-get 2 tuto.step1.values }}: <a href="#" class="token-image" title="{{ tuto.title }}">{{ array-get 22 tuto.step1.values }}</a> <i style="font-size: 12px;">{{ array-get 23 tuto.step1.values }}</i>
				<br />&nbsp;&nbsp;3 - {{ array-get 3 tuto.step1.values }}
				<br />&nbsp;&nbsp;4 - {{ array-get 4 tuto.step1.values }}
			</div>
		</div>
		<div class="page-container step2" style="display: none;">
			<div style="margin-bottom: 5px;">
				&nbsp;&nbsp;1 - {{ array-get 1 tuto.step2.values }}: <a href="https://twitchapps.com/tokengen" target="_blank">https://twitchapps.com/tokengen</a>
				<br />&nbsp;&nbsp;2 - {{ array-get 2 tuto.step2.values }}
				<br />&nbsp;&nbsp;3 - {{ array-get 3 tuto.step2.values }}:
				<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-primary" style="font-size: 14px;">channel:read:redemptions user:read:email chat:read</span>
				<br />&nbsp;&nbsp;4 - {{ array-get 4 tuto.step2.values }}
				<br />&nbsp;&nbsp;5 - {{ array-get 5 tuto.step2.values }}
			</div>
		</div>
		<ul class="pagination pagination-sm justify-content-center" style="position: absolute; top: -34px; right: 0px;">
			<li class="page-item active">
				<button class="page-link" style="font-size: 12px;" data-tuto="1">1 - {{ tuto.step1.button }}</button>
			</li>
			<li class="page-item">
				<button class="page-link" style="font-size: 12px;" data-tuto="2">2 - {{ tuto.step2.button }}</button>
			</li>
		</ul>
	</div>
</template>

<template id="sentences">
	<div>
		<ul class="nav nav-tabs">
			{{# each data }}
			<li class="nav-item nav-item-sm">
				<a href="#sentences_{{ key }}" class="nav-link{{ or ( and @first ' active' ) '' }}">{{ name }}</a>
			</li>
			{{/ each }}
		</ul>

		<div class="tab-content">
			{{# each data }}
			<div id="sentences_{{ key }}" class="tab-pane fade{{ or ( and @first ' show active' ) '' }}">
				{{# each list }}
				<div class="form-group">
					<input type="text" value="{{ input.value }}" placeholder="{{ input.placeholder }}" class="form-control left-input" />
					<i class="chat fas fa-comment-dots" data-enabled="{{ or ( and chat 'true' ) 'false' }}"></i>
					<i class="speech fas fa-volume-up" data-enabled="{{ or ( and speech 'true' ) 'false' }}"></i>
					<small class="form-text text-muted">{{{ small }}}</small>
				</div>
				{{/ each }}
			</div>
			{{/ each }}
		</div>
	</div>
</template>

<template id="words">
	<table class="table table-transparent">
		<thead>
			<tr>
				<th scope="col">Mot cherché</th>
				<th scope="col">Mot remplacé</th>
				<th scope="col" style="width: 102px;"></th>
			</tr>
		</thead>
		<tbody>
			{{# each data }}
			<tr class="table-active">
				<th scope="row">{{ word }}</th>
				<td><input type="text" value="{{ replace }}" placeholder="{{ ../modals.words.placeholder }}" class="input-transparent" /></td>
				<td class="text-center" style="user-select: none;">
					<i class="fas fa-user{{ or ( and ( or ( eq mode 1 ) ( eq mode 3 ) ) ' enabled' ) '' }}" title="{{ ../modals.words.user }}"></i>
					<i class="fas fa-comment-dots{{ or ( and ( or ( eq mode 2 ) ( eq mode 3 ) ) ' enabled' ) '' }}" title="{{ ../modals.words.message }}"></i>
					<i class="fas fa-trash-alt"></i>
				</td>
			</tr>
			{{/ each }}
		</tbody>
	</table>
</template>

<template id="navbar">
	<div class="navbar navbar-expand-lg fixed-top bg-light">
		<div class="container-fluid">
			<img src="./images/icon.png" class="navbar-brand" />
			<a href="." class="navbar-brand">{{ site.name }}</a>
			<div>
				<ul class="navbar-nav navbar-right">
					<li title="{{ viewers }}"><span class="viewers">-</span> <i class="fas fa-users"></i></li>
					<li title="{{ followers }}"><span class="followers">-</span> <i class="fas fa-id-badge"></i></li>
					<li title="{{ languages.title }}" class="dropdown dropdown-toggle languages" data-toggle="dropdown" id="languages-menu">
						<i class="fas fa-globe"></i>
					</li>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="languages-menu">
						{{# each languages.list }}
						<a href="#" class="dropdown-item" data-lang="{{ key }}">{{ value }}</a>
						{{/ each }}
					</div>
					<li title="{{ changelog }}" class="changelog"><i class="fas fa-code-branch"></i></li>
					<li class="version">{{ site.version }}</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<template id="chat">
	<div id="chat">
		<div class="pagination lateral">
			<div class="tip-left" title="{{ scroll_top }}">&laquo;</div>
			<div class="tip-left" title="{{ page_up }}">&lsaquo;</div>
			<div class="tip-left" title="{{ page_down }}">&rsaquo;</div>
			<div class="tip-left" title="{{ scroll_bottom }}">&raquo;</div>
			<hr />
			<div class="tip-left reverse" style="margin-left: 10px;" title="{{ lateral }}"><i class="fas fa-cog"></i></div>
			<div class="tip-left reverse" title="Clear Chat"><i class="fas fa-trash-alt"></i></div>
		</div>

		<ul></ul>
	</div>
</template>

<template id="user">
	<li data-user="{{ data.name }}">
		<div class="title" title="{{ data.name }}">{{ data.name }}</div>
		<div class="value">
			<i class="fas fa-cog" title="{{ users.manage.button }}"></i>
			<i class="fas fa-trash-alt" title="{{ users.delete }}"></i>
		</div>
	</li>
</template>

<template id="user_settings">
	<ul class="voice">
		<li>
			<div class="title">
				<label class="form-check-label">
					<input name="voice" class="form-check-input" type="checkbox"{{ or ( and data.voice ' checked' ) '' }} />
					{{ voice.voice.title }}
				</label>
			</div>
			<div class="value">
				<div name="voice" class="btn-group dropleft" title=" ">
					<button type="button" class="btn btn-sm btn-primary">{{ voice.voice.button }}</button>
					<div class="btn-group" role="group">
						<button id="voice_user" type="button" class="btn btn-sm btn-primary dropdown-toggle"></button>
						<div class="dropdown-menu" aria-labelledby="voice_user"></div>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">
				<label class="form-check-label">
					<input name="rate" class="form-check-input" type="checkbox"{{ or ( and data.rate ' checked' ) '' }} />
					{{ voice.rate }}
				</label>
			</div>
			<div class="value"><input name="rate" type="number" class="form-control form-control-sm" min=".1" max="10" step=".1" value="{{ or data.rate '1' }}" /></div>
		</li>
		<li>
			<div class="title">
				<label class="form-check-label">
					<input name="pitch" class="form-check-input" type="checkbox"{{ or ( and data.pitch ' checked' ) '' }} />
					{{ voice.pitch }}
				</label>
			</div>
			<div class="value"><input name="pitch" type="number" class="form-control form-control-sm" min="0" max="2" step=".1" value="{{ or data.pitch '0.8' }}" /></div>
		</li>
		<li>
			<div class="title">
				<label class="form-check-label">
					<input name="volume" class="form-check-input" type="checkbox"{{ or ( and data.volume ' checked' ) '' }} />
					{{ voice.volume.title }}
				</label>
			</div>
			<div class="value"><i class="fas fa-volume-mute"></i><input name="volume" type="range" class="custom-range" min="0" max="1" step=".01" value="{{ or data.volume '0.5' }}" title=" " /></div>
		</li>
		<li>
			<hr />
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.sentences.help }}">
				<label class="form-check-label">
					<input name="sentences" class="form-check-input" type="checkbox"{{ or ( and data.sentences ' checked' ) '' }} />
					{{ voice.sentences.title }}
				</label>
			</div>
			<div class="value"><button name="sentences" type="button" class="btn btn-sm btn-primary">{{ manage.normal }}</button></div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.words.help }}">
				<label class="form-check-label">
					<input name="words" class="form-check-input" type="checkbox"{{ or ( and data.words ' checked' ) '' }} />
					{{ voice.words.title }}
				</label>
			</div>
			<div class="value"><button name="words" type="button" class="btn btn-sm btn-primary">{{ manage.normal }}</button></div>
		</li>
		<li>
			<hr />
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.links.help }}">
				<label class="form-check-label">
					<input name="links" class="form-check-input" type="checkbox"{{ or ( and ( not-eq ( type data.links ) 'undefined' ) ' checked' ) '' }} />
					{{ voice.links.title }}
				</label>
			</div>
			<div class="value">
				<div class="custom-control custom-switch">
					<input name="links" type="checkbox" class="custom-control-input" id="links_user"{{ or ( and ( or data.links ( eq ( type data.links ) 'undefined' ) ) ' checked' ) '' }} />
					<label class="custom-control-label" for="links_user"></label>
				</div>
			</div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.emotes.help }}">
				<label class="form-check-label">
					<input name="emotes" class="form-check-input" type="checkbox"{{ or ( and ( not-eq ( type data.emotes ) 'undefined' ) ' checked' ) '' }} />
					{{ voice.emotes.title }}
				</label>
			</div>
			<div class="value">
				<div class="custom-control custom-switch">
					<input name="emotes" type="checkbox" class="custom-control-input" id="emotes_user"{{ or ( and ( or data.emotes ( eq ( type data.emotes ) 'undefined' ) ) ' checked' ) '' }} />
					<label class="custom-control-label" for="emotes_user"></label>
				</div>
			</div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.ascii.help }}">
				<label class="form-check-label">
					<input name="ascii" class="form-check-input" type="checkbox"{{ or ( and ( not-eq ( type data.ascii ) 'undefined' ) ' checked' ) '' }} />
					{{ voice.ascii.title }}
				</label>
			</div>
			<div class="value">
				<div class="custom-control custom-switch">
					<input name="ascii" type="checkbox" class="custom-control-input" id="ascii_user"{{ or ( and ( or data.ascii ( eq ( type data.ascii ) 'undefined' ) ) ' checked' ) '' }} />
					<label class="custom-control-label" for="ascii_user"></label>
				</div>
			</div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.limit.usernames.help }}">
				<label class="form-check-label">
					<input name="lusername" class="form-check-input" type="checkbox"{{ or ( and data.lusername ' checked' ) '' }} />
					{{ voice.limit.usernames.title }}
				</label>
			</div>
			<div class="value"><input name="lusername" type="number" class="form-control form-control-sm" min="0" max="25" step="1" value="{{ or data.lusername '0' }}" title=" " /></div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.limit.messages.help }}">
				<label class="form-check-label">
					<input name="lmessage" class="form-check-input" type="checkbox"{{ or ( and data.lmessage ' checked' ) '' }} />
					{{ voice.limit.messages.title }}
				</label>
			</div>
			<div class="value"><input name="lmessage" type="number" class="form-control form-control-sm" min="0" max="500" step="1" value="{{ or data.lmessage '0' }}" title=" " /></div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.repeat.help }}">
				<label class="form-check-label">
					<input name="repeat" class="form-check-input" type="checkbox"{{ or ( and data.repeat ' checked' ) '' }} />
					{{ voice.repeat.title }}
				</label>
			</div>
			<div class="value"><input name="repeat" type="number" class="form-control form-control-sm" min="0" max="1000" step="1" value="{{ or data.repeat '1000' }}" title=" " /></div>
		</li>
		<li>
			<div class="title tip-left" title="{{ voice.flooding.help }}">
				<label class="form-check-label">
					<input name="flooding" class="form-check-input" type="checkbox"{{ or ( and data.flooding ' checked' ) '' }} />
					{{ voice.flooding.title }}
				</label>
			</div>
			<div class="value"><i class="fas fa-ban"></i><input name="flooding" type="range" class="custom-range" min="0" max="100" step="1" value="{{ or data.flooding '0' }}" title=" " /></div>
		</li>
	</ul>
</template>

<template id="channel">
	<li class="channel">
		<div class="value">
			<i class="fas fa-trash-alt" title="{{ connection.delete }}"></i>
			<input name="channel" type="text" value="{{ value }}" class="form-control form-control-sm" />
		</div>
	</li>
</template>

<template id="settings">
	<div id="settings" class="text-center">
		<ul class="menu">
			<li data-menu=".connection" title="{{ connection.title }}"><i class="fas fa-house-user"></i></li>
			<li data-menu=".users" title="{{ users.title }}"><i class="fas fa-users"></i></li>
			<li data-menu=".voice" title="{{ voice.title }}"><i class="fas fa-assistive-listening-systems"></i></li>
			<li data-menu=".chat" title="{{ chat.title }}"><i class="fas fa-comments"></i></li>
			<li data-menu=".iofile" title="{{ iofile.title }}"><i class="fas fa-save"></i></li>
		</ul>
		<ul class="connection">
			<li>
				<div class="title">{{ connection.channel }}</div>
				<div class="value">
					<i class="fas fa-splotch" title="{{ connection.more.title }}"></i>
					<input name="channel" type="text" class="form-control form-control-sm" />
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ connection.audio.help }}">{{ connection.audio.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="audio" type="checkbox" class="custom-control-input" id="audio" checked />
						<label class="custom-control-label" for="audio"></label>
					</div>
				</div>
			</li>
			<li class="separator">
				<button name="add" type="button" class="btn btn-sm btn-primary">{{ connection.add }}</button>
				<button name="connect" type="button" class="btn btn-sm btn-primary">{{ connection.connect }}</button>
				<button name="disconnect" type="button" class="btn btn-sm btn-primary" disabled>{{ connection.disconnect }}</button>
			</li>
		</ul>
		<ul class="users clear">
			<li>
				<div class="btn-group">
					<div class="form-check">
						<label class="form-check-label" title="{{ users.normal }}">
							<input name="users_normal" class="form-check-input" type="checkbox" checked />
							<i class="fas fa-male"></i>
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" title="{{ users.broadcaster }}">
							<input name="users_broadcaster" class="form-check-input" type="checkbox" checked />
							<i class="fas fa-user-circle"></i>
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" title="{{ users.moderators }}">
							<input name="users_mod" class="form-check-input" type="checkbox" checked />
							<i class="fas fa-wrench"></i>
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" title="{{ users.subscibers }}">
							<input name="users_subscriber" class="form-check-input" type="checkbox" checked />
							<i class="fas fa-heart"></i>
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="title"><input name="user" type="text" class="btn btn-sm btn-primary" placeholder="{{ users.search }}" /></div>
				<div class="value"><i class="fas fa-user-plus" title="{{ users.add }}"></i></div>
			</li>
			<li>
				<hr />
			</li>
		</ul>
		<ul class="voice">
			<li>
				<div class="title">{{ voice.voice.title }}</div>
				<div class="value">
					<div name="voice" class="btn-group dropleft" title=" ">
						<button type="button" class="btn btn-sm btn-primary">{{ voice.voice.button }}</button>
						<div class="btn-group" role="group">
							<button id="voice" type="button" class="btn btn-sm btn-primary dropdown-toggle"></button>
							<div class="dropdown-menu" aria-labelledby="voice"></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="title">{{ voice.rate }}</div>
				<div class="value"><input name="rate" type="number" class="form-control form-control-sm" value="1" min=".1" max="10" step=".1" /></div>
			</li>
			<li>
				<div class="title">{{ voice.pitch }}</div>
				<div class="value"><input name="pitch" type="number" class="form-control form-control-sm" value="0.8" min="0" max="2" step=".1" /></div>
			</li>
			<li>
				<div class="title">{{ voice.volume.title }}</div>
				<div class="value"><i class="fas fa-volume-mute"></i><input name="volume" type="range" class="custom-range" value="0.5" min="0" max="1" step=".01" title=" " /></div>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.sentences.help }}">{{ voice.sentences.title }}</div>
				<div class="value"><button name="sentences" type="button" class="btn btn-sm btn-primary">{{ manage.normal }}</button></div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.words.help }}">{{ voice.words.title }}</div>
				<div class="value"><button name="words" type="button" class="btn btn-sm btn-primary">{{ manage.normal }}</button></div>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.links.help }}">{{ voice.links.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="links" type="checkbox" class="custom-control-input" id="links" checked />
						<label class="custom-control-label" for="links"></label>
					</div>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.emotes.help }}">{{ voice.emotes.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="emotes" type="checkbox" class="custom-control-input" id="emotes" checked />
						<label class="custom-control-label" for="emotes"></label>
					</div>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.ascii.help }}">{{ voice.ascii.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="ascii" type="checkbox" class="custom-control-input" id="ascii" checked />
						<label class="custom-control-label" for="ascii"></label>
					</div>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.limit.usernames.help }}">{{ voice.limit.usernames.title }}</div>
				<div class="value"><input name="lusernames" type="number" class="form-control form-control-sm" value="0" min="0" max="25" step="1" title=" " /></div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.limit.messages.help }}">{{ voice.limit.messages.title }}</div>
				<div class="value"><input name="lmessages" type="number" class="form-control form-control-sm" value="0" min="0" max="500" step="1" title=" " /></div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.repeat.help }}">{{ voice.repeat.title }}</div>
				<div class="value"><input name="repeat" type="number" class="form-control form-control-sm" value="1000" min="0" max="1000" step="1" title=" " /></div>
			</li>
			<li>
				<div class="title tip-left" title="{{ voice.flooding.help }}">{{ voice.flooding.title }}</div>
				<div class="value"><i class="fas fa-ban"></i><input name="flooding" type="range" class="custom-range" min="0" max="100" step="1" title=" " /></div>
			</li>
			<li class="separator">
				<button name="test" type="button" class="btn btn-sm btn-primary">{{ test.button }}</button>
			</li>
		</ul>
		<ul class="chat">
			<li>
				<div class="title tip-left" title="{{ chat.timestamp.help }}">{{ chat.timestamp.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="timestamp" type="checkbox" class="custom-control-input" id="timestamp" />
						<label class="custom-control-label" for="timestamp"></label>
					</div>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ chat.logos.help }}">{{ chat.logos.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="logos" type="checkbox" class="custom-control-input" id="logos" />
						<label class="custom-control-label" for="logos"></label>
					</div>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ chat.autoscroll.help }}">{{ chat.autoscroll.title }}</div>
				<div class="value">
					<div class="custom-control custom-switch">
						<input name="autoscroll" type="checkbox" class="custom-control-input" id="autoscroll" />
						<label class="custom-control-label" for="autoscroll"></label>
					</div>
				</div>
			</li>
		</ul>
		<ul class="iofile">
			<li>
				<div class="title tip-left" title="{{ iofile.importer.help }}">{{ iofile.importer.title }}</div>
				<div class="value">
					<button name="import" type="button" class="btn btn-sm btn-primary">{{ iofile.importer.button }}</button>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ iofile.exporter.help }}">{{ iofile.exporter.title }}</div>
				<div class="value">
					<button name="export" type="button" class="btn btn-sm btn-primary">{{ iofile.exporter.button }}</button>
				</div>
			</li>
			<li>
				<div class="title tip-left" title="{{ iofile.reset.help }}">{{ iofile.reset.title }}</div>
				<div class="value">
					<button name="reset" type="button" class="btn btn-sm btn-primary">{{ iofile.reset.button }}</button>
				</div>
			</li>
		</ul>
	</div>
</template>
